<body>
  <div class="container">
   
    <app-navbar></app-navbar>
    <!-- <div class="text">
      <img src="assets/Images/Logos/textV2.jpeg" alt="Text" class="text" />
    </div> -->
    <app-header></app-header>
    <div class="banner-section">
      <div class="banners-container">
          <div class="banner">
              <img
                  src="assets/Images/Banners/AboutusImage.png"
                  alt="Black Friday Banner"
                  class="banner-image"
              />
              <button class="connect-button">Let's talk about 
                your project..<i class="fa-solid fa-arrow-right"></i> </button>
          </div>
          <!-- Additional banners can be uncommented and used as needed -->
          <!-- <div class="banner">
              <img src="assets/Images/Banners/black_friday_facebook_banner_02.jpg" alt="Black Friday Banner" class="banner-image">
          </div>
          <div class="banner">
              <img src="assets/Images/Banners/7122265.jpg" alt="Black Friday Banner" class="banner-image">
          </div>
          <div class="banner">
              <img src="assets/Images/Banners/Business-Web-Banner-19.jpg" alt="Black Friday Banner" class="banner-image">
          </div> -->
      </div>
  </div>
  

    <div class="vision-mission-row">
      <div class="vision-mission-card">
        <h2>About Us</h2>
        <p>
          Welcome to the Ceylon Institute for Artificial Intelligence Research
        (CIAIR) – a pioneering hub for applied machine learning research and
        innovation in the context of artificial intelligence (AI). At CIAIR, we
        are driven by a singular mission: to exploit AI for multidisciplinary
        research.
        </p>
      </div>
      <div class="vision-mission-image">
        <img src="assets/Images/aboutus/about.png" alt="Image 1" class="image">
      </div>
    </div>
    
    <div class="vision-mission-row">
      <div class="vision-mission-image">
        <img src="assets/Images/aboutus/whywith.png" alt="Image 2" class="image">
      </div>
      <div class="vision-mission-card">
        <h2>Why With Us</h2>
        <p>
          At CIAIR, we offer a unique opportunity to be at the forefront of AI
        research and innovation, working alongside leading experts in the field
        to investigate novel research problems. Our interdisciplinary approach,
        commitment to excellence, and focus on real-world impact make us an
        ideal destination for those passionate about shaping the future of AI.
        Whether you're a seasoned researcher or a driven newcomer, CIAIR
        provides the resources, support, and collaborative environment needed to
        thrive in the dynamic world of artificial intelligence.
        </p>
      </div>
    </div>

    
    <div class="vision-mission-row">
      <div class="vision-mission-card">
        <h2>How to Join Us</h2>
        <p>
          Joining CIAIR is a straightforward and rewarding process. We welcome
        talented individuals from diverse backgrounds who share our vision and
        values to explore opportunities for collaboration and engagement.
        Whether you're interested in pursuing a research position, participating
        in one of our projects, or joining a partner organization, we invite you
        to reach out to us through email. Visit our website, connect with our
        team, and discover the possibilities that await you at CIAIR.
        </p>
      </div>
      <div class="vision-mission-image">
        <img src="assets/Images/aboutus/howto.png" alt="Image 1" class="image">
      </div>
    </div>
    
    <div class="vision-mission-row">
      <div class="vision-mission-image">
        <img src="assets/Images/aboutus/company.png" alt="Image 2" class="image">
      </div>
      <div class="vision-mission-card">
        <h2>Company Details</h2>
        <p>
          Founded in 2024, the Ceylon Institute for Artificial Intelligence
        Research (CIAIR) is a leading research institute dedicated to advancing
        the field of artificial intelligence (AI) through cutting-edge research,
        innovation, and collaboration. Our institute serves as a hub for
        interdisciplinary exploration, bringing together experts from various
        domains to tackle complex challenges and drive transformative change.
        </p>
      </div>
    </div>
    

    <h2 class="news-heading">News</h2>

    <app-news></app-news>

    <app-footer></app-footer>
  </div>
</body>
