<footer class="footer">
    <div class="footer-content">

        <div class="footer-image">
            <img src="assets/Images/Logos/ciair_logo.jpg" alt="Footer Image">
          </div>

      <div class="footer-columns">
        <div class="column">Product</div>
        <div class="column">Solution</div>
        <div class="column">Resources</div>
        <div class="column">Support</div>
      </div>
     
    </div>
    <div class="footer-text">&copy; 2024 CIAIR. All rights reserved.</div>
  </footer>
  