<body>
  <div class="container">
   
    <app-navbar></app-navbar>
    <!-- <div class="text">
      <img src="assets/Images/Logos/textV2.jpeg" alt="Text" class="text" />
    </div> -->
    <app-header></app-header>
    <div class="banner-section">
      <div class="banners-container">
          <div class="banner">
              <img
                  src="assets/Images/Banners/homepng.png"
                  alt="Black Friday Banner"
                  class="banner-image"
              />
             
              <button class="connect-button">Let's talk about 
                your project..<i class="fa-solid fa-arrow-right"></i> </button>
          </div>
          <!-- Additional banners can be uncommented and used as needed -->
          <!-- <div class="banner">
              <img src="assets/Images/Banners/black_friday_facebook_banner_02.jpg" alt="Black Friday Banner" class="banner-image">
          </div>
          <div class="banner">
              <img src="assets/Images/Banners/7122265.jpg" alt="Black Friday Banner" class="banner-image">
          </div>
          <div class="banner">
              <img src="assets/Images/Banners/Business-Web-Banner-19.jpg" alt="Black Friday Banner" class="banner-image">
          </div> -->
      </div>
  </div>
  

    <div class="vision-mission-row">
      <div class="vision-mission-card">
        <h2>Vision</h2>
        <p>
          CIAIR is established with a vision to promote interdisciplinary
          collaboration and drive transformative discoveries, CIAIR brings
          together a diverse team of experts spanning various domains, including
          computer science, engineering, mathematics, and beyond. Our researchers
          are united by a shared passion for exploring the potential of AI to
          revolutionize research.
        </p>
      </div>
      <div class="vision-mission-image">
        <img src="assets/Images/Home/vision.png" alt="Image 1" class="image">
      </div>
    </div>
    
    <div class="vision-mission-row">
      <div class="vision-mission-image">
        <img src="assets/Images/Home/mission.png" alt="Image 2" class="image">
      </div>
      <div class="vision-mission-card">
        <h2>Mission</h2>
        <p>
          CIAIR places a strong emphasis on both fundamental research and
          real-world applications. From fundamental research in machine learning
          algorithms to applied projects in areas such as healthcare, finance,
          environmental sustainability, and more, our work spans the entire
          spectrum of AI research At CIAIR, we believe that AI has the power to
          drive positive change and empower individuals and communities worldwide.
          Join us on our journey as we explore the boundless possibilities of
          artificial intelligence in diverse research.
        </p>
      </div>
    </div>
    

    <h2 class="news-heading">News</h2>
    <app-news></app-news>
    <app-footer></app-footer>
  </div>
</body>
