body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

app-navbar, app-header {
  margin-bottom: 20px;
}

.filter {
  margin-left: 20px;
  margin-bottom: 20px;
}

.filter button {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter button:hover {
  background-color: #0056b3;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.dropdown {
  margin-right: 20px;
  flex-grow: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  
}

.row {
  display: flex;
  align-items: center;
}

.row button {
  margin-left: 10px;
}

.article-card {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 50px;
}

.article-card:hover {
  transform: translateY(-5px);
}

.article-card p {
  margin: 5px 0;
  color: #333;
}

@media (max-width: 768px) {
  .container {
      padding: 10px;
  }

  .filter button {
      width: 100%;
  }

  .dropdown select {
      width: 100%;
  }

  .article-card {
      padding: 10px;
  }
}
